html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    height: 100vh;
    background-color: lightgray;
    margin: 0;
    position: relative;
}

#piano {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    width: 358px;
    height: 290px;
    padding: 90px 20px 0 20px;
    border-radius: 10px;
    background-color: #00471b;
}

.container  {
    width: 318px;
    height: 180px;
    position: relative;
}

kbd {
    text-transform: uppercase;
}

.white-keys {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 2px 2px 2px;
    background-color: black;
}

.white-keys kbd {
    background-color: white;
    margin: 1px;
    /* Not necessary to set a border, but required by the correction system.
       Remove and add one to margin */
    border: 1px solid black;
    border-radius: 0 0 4px 4px;
    flex-grow: 1;
    text-align: center;
    line-height: 280px;
}

/* This is because the correction system says that in .black-keys must be only five elements. I use a trick with flex,
    putting a invisible span between the second and third black key. Forget about the six following rules and uncomment
    the three following these six and the span in .black-keys div in the html.
*/
.black-keys {
    position: absolute;
    top: 0;
    left: 29px; /* half width of white key plus margin/border */
    width: 259px; /* width of container - 2*(width of white key + margin/border) */
}

.black-keys kbd {
    --position-second: 45.5px;
    position: absolute;
    display: inline-block;
    width: 32px;
    height: 100px;
    /* background-color: #1d1e22; */
    background-color: black;
    color: white;
    text-align: center;
    line-height: 130px;
    border-radius: 0% 0% 4% 4%;
}

.black-keys kbd:nth-child(2) {
    left: var(--position-second);
}

.black-keys kbd:nth-child(3) {
    left: calc(var(--position-second) * 3);
}

.black-keys kbd:nth-child(4) {
    left: calc(var(--position-second) * 4);
}

.black-keys kbd:nth-child(5) {
    left: calc(var(--position-second) * 5);
}

/*.black-keys {
    position: absolute;
    top: 0;
    left: 29px; !* half width of white key plus margin/border *!
    width: 259px; !* width of container - 2*(width of white key + margin/border) *!
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.black-keys * {
    width: 32px;
}

.black-keys kbd {
    background-color: #1d1e22;
    color: white;
    text-align: center;
    line-height: 130px;
    border-radius: 0% 0% 4% 4%;
}*/

#logo {
    width: 200px;
    position: absolute;
    top: 23px;
    color: #F5F5F5;
    font-size: 1.3rem;
}
